/*estilos comunes para todas las secciones*/


body {
    font-family: $fuente-principal;
    background-color: $color-pimario;
    color: $color-secundario;
   
}

.nav-link 

 {
    background-color: rgb(238, 238, 238);
    border: solid 2px;
    padding-right: 1%;
    border-radius: 18%;
    margin: 1%;
    margin-left: 1%;
    justify-content: center;
    text-align: center;
    
}



.nav-link,
.nav-link.active,
.navbar-nav .nav-link.active {
    color: $color-secundario;
    &:hover {
        color: $color-4
    }
} 
.navbar navbar-expand-lg {
    float:left;
    position: static;
    

    
}

.navbar-toggler {
    background-color: rgb(255, 255, 255);
}


.carousel-item  {
    max-height: 60vh;
    max-width: 80vh;
}

.fotos {
    max-width: 387px;
    
}

.avion {
    max-height: 40vh;
    max-width: 40vh;

}

@media (min-width: $desktop){
    .carousel-item img {
        max-height: 50vh;
         
                
    } 
}


@media (min-width: $tablet){
    .carousel-item img {
        max-height: 50vh;
        
    } 
}


.im1 { 	height: 150px;
	border-radius: 100px;
	max-width: 100%;
    	  
}

.card-img-top {
    height: 150px;
}

h3 {
    margin-top: 10%;
    text-align: center;
    
         
}

.p {
    text-align: center;
    font-size: $fuente-media;
    width: 60%;
    
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $espacio-grande;
    font-size:xx-large;
    
    .container-redes a {
        color: $color-secundario;
        text-decoration: none;
        font-size: 50px
    }
}

.whatsapp {
	position: fixed;
	width: 50px;
	bottom: 15px;
	right: 0;
	
}

