
.cards {
  
   display:flex;
   flex-direction: row;
   flex-wrap: wrap;
   text-align: start;
   gap: 30px;
   margin-top: 50px;
   margin-bottom: 100px;
   height: 100%;
   margin-left: 110px;
   margin-right: 110px;
   justify-content: center;
   align-items: center;
   
                       
}

.card {
   border-color: $color-secundario;
   border: solid 3px;
   color: $color-secundario;
   &:hover {
       color: $color-4
   }
   
   
}

.card-title {
   text-align: center;

}

.btn {
   text-align: center;
   margin-left: 40px;
   color: $color-pimario;
   &:hover {
       color: $color-4
   }

}
.ul {
   padding: 0px;
   justify-content: center;
   text-align: center;

}

